input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.btn {
	border: 0;
	border-radius: 4px;
	height: 28px;
	width: 5rem;
	cursor: pointer;
	margin: 5px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	box-sizing: border-box;
	background: white;
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);

	&:active {
		position: relative;
		top: 2px;
	}

	&.btn--borderless {
		box-shadow: unset;
		&:hover {
			box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
		}
	}

	&.btn--green {
		border: 2px solid rgba($okColor, .7);
	}
	&.btn--red {
		border: 2px solid rgba($errorColor, 0.7);
	}
	&.btn--blue {
		border: 2px solid rgba(#6599e2, 0.7);
	}
	&.btn--orange {
		border: 2px solid rgba(#F9AB00, 0.7);
	}

	@keyframes rotating-multicolor {
		0% {
			background: linear-gradient(0deg, #c4e17f, #fad071, #f0766b,
				#db9dbe, #c49cdf, #6599e2,
				#61c2e4);
		}
		10% {
			background: linear-gradient(36deg, #c4e17f, #fad071, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);
		}
		20% {
			background: linear-gradient(72deg, #c4e17f, #fad071, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);
		}
		30% {
			background: linear-gradient(108deg, #c4e17f, #fad071, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);
		}
		40% {
			background: linear-gradient(144deg, #c4e17f, #fad071, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);
		}
		50% {
			background: linear-gradient(180deg, #c4e17f, #fad071, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);
		}
		60% {
			background: linear-gradient(216deg, #c4e17f, #fad071, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);
		}
		70% {
			background: linear-gradient(252deg, #c4e17f, #fad071, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);
		}
		80% {
			background: linear-gradient(288deg, #c4e17f, #fad071, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);
		}
		90% {
			background: linear-gradient(324deg, #c4e17f, #fad071, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);
		}
		100% {
			background: linear-gradient(0deg, #c4e17f, #fad071, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);
		}

	}

	&.btn--loading {
		height: 24px;
		display: inline-block;
		border-radius: 3px;
		text-decoration: none;
		cursor: pointer;
		border: 0;
		box-shadow: unset;
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			left: -2px;
			top: -2px;
			width: calc(100% + (4px));
			height: calc(100% + (4px));
			z-index: -1;
			animation: rotating-multicolor 0.5s linear infinite;
			border-radius: 4px;
			box-sizing: inherit;
			box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
		}
		&:before {
			content: attr(loading);
			width: 100%;
			height: 100%;
			background-color: #f7f7f7;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 4px;
		}

	}
}


.button {
	margin-left: 3px;
	margin-right: 3px;
	font-weight: bolder;
	border: 0;
	color: white;
	background-color: $accent;
	border-radius: 4px;
	height: 24px;
	min-width: 35px;
	padding-left: 5px;
	padding-right: 5px;
	box-shadow: 0px 5px 0px 0px darken($accent,10),0 6px 4px 1px rgba(0, 0, 0, 0.15);;
	cursor: pointer;

	.button--add {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.button:active{
	box-shadow: 0px 3px 0px 0px darken($accent,10);
	position: relative;
	top: 2px;
}

