.product-item {
	background-color: white;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	padding: 7px;
	display: flex;
	width: 290px;
	position: relative;
	margin: 10px;

	.product-item__img img{
		border-radius: 2px;
		width: 100px;
		height: 100px;
		background-color: #969896;
		margin-left: 5px;

	}
	.product-item__info {

		.product-item__title {
			font-size: 1.3rem;
		}
		.product-item__description {
			color: gray;
			font-size: 0.8rem;
			margin-bottom: 10px;
			text-overflow: clip;
		}
		.product-item__price {

			margin-bottom: 5px;

			& > * {
				display: inline;
				font-weight: bold;
			}
		}
		.product-item__actions{

		}
	}
}
