<div class="product-item">
	<div class="product-item__img"><img src="{{images.product}}" alt=""></div>
	<div class="product-item__info">
		<div class="product-item__title">Coca cola 2L</div>
		<div class="product-item__description">coca cola de 2l en cantidad</div>
		<div class="product-item__price">
			<div class="price__unit">$ 25</div> × <div class="price__count">4</div> = <div class="price__total"> $ 100 </div>
		</div>
		<div class="product-item__actions">
			<button class="button">-</button><button class="button">+</button><button class="button button--add">AGREGAR</button>
		</div>
	</div>
</div>

